<h3>Ratings:</h3>
<b>Interestingness:</b><br />
<%= ratings_for @dream, :dimension => :interestingness %>
<b>Weirdness:</b><br />
<%= ratings_for @dream, :dimension => :weirdness %>
<b>Writing:</b><br />
<%= ratings_for @dream, :dimension => :writing %>