<div id="footer">

<%= link_to "About Dreamerist", "/about" %> |
<a href="http://dreamerist.tumblr.com" target="_new">blog</a> |
terms & conditions |
made for you w/care by <a href="http://citrusfortress.com/">tony zito</a> 	

</div>