
<div id="container" style="width: 990px; margin: 0 auto !important; padding-top: 60px; text-align: center; display: block;">
<div id="box" style="background: #222; color: #fff; font-size: 13px; margin: 20px auto 0; padding: 15px; width: 480px; display: block; opacity: 0.8;">
<h1 style="color: #fff; font-size: 22px; font-weight: bold; letter-spacing: -1px; margin-bottom: 10px; opacity: 1;"><span style="font-size: x-large; font-family: verdana, geneva;">Dreamerist <sup>alpha</sup> is rousing.</span></h1>
<h2 style="color: #ccc; font-size: 16px; font-style: italic; letter-spacing: 0; margin-bottom: 40px; opacity: 1;"><span style="font-family: verdana, geneva; font-size: small;">Drop us a line &amp; we'll put you on our invite list.</span></h2>
<a id="prefinery_apply_link" href="#"><img style="cursor: pointer; border: none; opacity: 1;" src="http://c0408941.cdn.cloudfiles.rackspacecloud.com/teaser-apply-now.png" alt="" /></a></div>

<!--<i>Got your invite code? <%= link_to "Sign up here.", new_user_registration_path %>. </i>-->
</div>
<!-- Popup Invitation Widget Code -->
<script type="text/javascript">// <![CDATA[
    var prefineryJsHost = ("https:" == document.location.protocol) ? 'https://www.prefinery.com/' : 'http://www.prefinery.com/';
    document.write(unescape("%3Cscript src='" + prefineryJsHost + "javascripts/widget.js' type='text/javascript'%3E%3C/script%3E"))
// ]]></script>
<script type="text/javascript">// <![CDATA[
    var prefinery_apply_options = {
      account: "dreamerist",
      beta_id: "2304",
      link_id: "prefinery_apply_link"
    };
    Prefinery.apply(prefinery_apply_options);
// ]]></script>
